﻿@model AmazonMail.Models.BLACKLIST

@{
    
    ViewBag.Title = "Black List";   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Lista negra</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.EMAIL, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EMAIL)
                    @Html.ValidationMessageFor(model => model.EMAIL)
                </div>
            </div>    
            <div class="form-group">
                @Html.LabelFor(model => model.TIMESTAMP, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Timestamp", System.DateTime.Now)
                    @Html.ValidationMessageFor(model => model.TIMESTAMP)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.REASON, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.REASON)
                    @Html.ValidationMessageFor(model => model.REASON)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Volver a buscar", "Index")
    </div>
</body>
</html>
