﻿@model AmazonMail.Models.BLACKLIST

@{
    
    ViewBag.Title = "Black List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>¿Está seguro de que quiere eliminar una entrada de la lista negra?</h3>
    <div>
        <h4>Lista negra</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Email")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>
    
            <dt>
                @Html.DisplayName("Fecha y hora")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIMESTAMP)
            </dd>
    
            <dt>
                @Html.DisplayName("Causa")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REASON)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" />                 
            </div>
        }
    </div>    
     @Html.ActionLink("Buscar otra dirección", "Search")
   

</body>
</html>
