﻿@model AmazonMail.Models.BLACKLIST

@{
   
    ViewBag.Title = "Black List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BLACKLIST</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EMAIL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TIMESTAMP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIMESTAMP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REASON)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REASON)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
