﻿@model IEnumerable<AmazonMail.Models.BLACKLIST>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{    
    ViewBag.Title = "Black List";
    var pagedlist = (IPagedList)Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista negra</title>
</head>
<body>
    <h4>Lista negra</h4>
    <hr />
    @if (Model.Count() > 0)

    {
        var mailIdentifiers = String.Join(",", Model.Select(i => i.ID).ToArray());
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Fecha y hora
                </th>
                <th>
                    Causa
                </th>
                <th>
                    @using (Html.BeginForm("DeleteAll", "BlackList", FormMethod.Post))
                    {
                        @Html.Hidden("mailIdentifiers", mailIdentifiers);
                        <input type="submit" value="Eliminar todas" />
                    }
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TIMESTAMP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REASON)
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                    </td>
                </tr>

            }
        </table>
    }
    else
    {
        <p>La busqueda no ha producido resultados</p>
    }
    <p>@Html.ActionLink("Volver a buscar", "Search")</p>
</body>
</html>
