﻿@model IEnumerable<AmazonMail.Models.BLACKLIST>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{    
    ViewBag.Title = "Black List";
    var pagedlist = (IPagedList)Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista negra</title>
</head>
<body>

    <h4>Lista negra</h4>
    <hr />
     <p>
        @using (Html.BeginForm("Index", "BlackList", FormMethod.Get))
        {
        <p>
            Buscar por la dirección de correo: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
        }
    </p>          
    <p>
        @Html.ActionLink("Añadir una dirección", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.ReceiverSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Fecha y hora", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>          
            <th>
                Causa
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIMESTAMP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REASON)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |               
                @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    </table>
    Página @(pagedlist.PageCount < pagedlist.PageNumber ? 0 : pagedlist.PageNumber) de @pagedlist.PageCount

    @Html.PagedListPager(pagedlist, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>
</html>
