﻿@model IEnumerable<AmazonMail.Models.BLACKLIST>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{    
    ViewBag.Title = "Black List";    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista negra</title>
</head>
<body>
    <h4>Lista negra</h4>
    <hr />
    <p>
        @using (Html.BeginForm("Find", "BlackList", FormMethod.Get))
        {
    <p>
        Buscar por direcciones de correo (separadas con comas): @Html.TextArea("searchString", ViewBag.CurrentFilter as string, new { rows = "5", cols = "200" })
        <input type="submit" value="Search" />        
    </p>
        }
    </p>  
</body>
</html>
