﻿@model AmazonMail.Models.MESSAGELOG

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Messages";    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>MESSAGELOG</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.MESSAGEID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MESSAGEID)
                    @Html.ValidationMessageFor(model => model.MESSAGEID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SENDER, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SENDER)
                    @Html.ValidationMessageFor(model => model.SENDER)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.RECEIVER, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RECEIVER)
                    @Html.ValidationMessageFor(model => model.RECEIVER)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SENDDATE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SENDDATE)
                    @Html.ValidationMessageFor(model => model.SENDDATE)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.APPID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.APPID)
                    @Html.ValidationMessageFor(model => model.APPID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ERRORMESSAGE, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ERRORMESSAGE)
                    @Html.ValidationMessageFor(model => model.ERRORMESSAGE)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.SUBJECT, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SUBJECT)
                    @Html.ValidationMessageFor(model => model.SUBJECT)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
