﻿@model AmazonMail.Models.MESSAGELOG

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Messages";    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar</title>
</head>
<body>
    <h3>¿Esta seguro de que quiere eliminar este registro?</h3>
    <div>
        <h4>Registro de mensajes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ID
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MESSAGEID)
            </dd>
    
            <dt>
               Remitente
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SENDER)
            </dd>
    
            <dt>
                Destinatario
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECEIVER)
            </dd>
            <dt>
                Asunto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SUBJECT)
            </dd>
            <dt>
               Fecha de envío
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SENDDATE)
            </dd>
    
            <dt>
                Id de la aplicación
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APPID)
            </dd>
    
            <dt>
                Error
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ERRORMESSAGE)
            </dd> 
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Volver a la lista de mensajes", "Index")
            </div>
        }
    </div>
</body>
</html>
