﻿@model AmazonMail.Models.MESSAGELOG


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Messages";
    //IHtmlString strHtmlInput = Html.Raw(@Model.MESSAGE);
    //String strInput=strHtmlInput.ToString().Replace("'","\'");
    IHtmlString strHtmlInput = new HtmlString(HttpUtility.JavaScriptStringEncode(@Model.MESSAGE));
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>
    <div>
        <h4>Registro de mensajes</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                ID
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MESSAGEID)
            </dd>
    
            <dt>
               Remitente
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SENDER)
            </dd>
    
            <dt>
               Destinatario
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECEIVER)
            </dd>
            <dt>
                Asunto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SUBJECT)
            </dd>
            <dt>
                Contenido
            </dt>
            <dd>
                <iframe id="messageContent" scrolling="auto" width="600" height="200"></iframe>
                <script>var iframe = document.getElementById('messageContent');
                    iframedoc = iframe.contentDocument || iframe.contentWindow.document;                    
                    iframedoc.body.innerHTML = '@strHtmlInput';                    
                </script>
            </dd>
            <dt>
                Fecha de envío
            </dt>    
            <dd>
                @Html.DisplayFor(model => model.SENDDATE)
            </dd>
    
            <dt>
                ID de la aplicación
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APPID)
            </dd>
    
            <dt>
                Error
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ERRORMESSAGE)
            </dd>
    
        </dl>
    </div>
    <p>        
        @Html.ActionLink("Volver a la lista de mensajes", "Index")
    </p>
</body>
</html>
