﻿@model IEnumerable<AmazonMail.Models.MESSAGELOG>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Messages";
    var pagedlist = (IPagedList)Model;
 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro de mensajes</title>
</head>
<body>
    <h4>Registro de mensajes</h4>
    <hr />


    @using (Html.BeginForm("Index", "MessageLog", FormMethod.Get))
    {
        <p>
            Buscar por el destinatario: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }

    @using (Html.BeginForm("Index", "MessageLog", FormMethod.Get))
    {
        @Html.Hidden("hidUpdate", "Yes")
        <input type="submit" value="Actualizar" />
    }

    <div style="margin-top:50px">
        <b>Estadísticas de envíos (90 días)</b>
        <table class="table">
            <tr><th>Total</th><th>Enviados OK</th><th>Soft Bounces</th><th>Hard Bounces</th><th>Spam Complaints</th><th>Lista negra</th></tr>
            <tr><td>@ViewBag.numTotal</td><td>@ViewBag.numOK</td><td>@ViewBag.numSoftBounces</td><td>@ViewBag.numhardBounces</td><td>@ViewBag.numSpamComplaints</td><td>@ViewBag.numBlackListed</td></tr>
        </table>
    </div>
    Página @(pagedlist.PageCount < pagedlist.PageNumber ? 0 : pagedlist.PageNumber) de @pagedlist.PageCount

    @Html.PagedListPager(pagedlist, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <table class="table messagelog">
        <tr>
            <th></th>
            <th>
                ID
            </th>
            <th>
                Remitente
            </th>
            <th>
                @Html.ActionLink("Destinatario", "Index", new { sortOrder = ViewBag.ReceiverSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Asunto
            </th>
            <th>
                @Html.ActionLink("Fecha de envío", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Id de la aplicación", "Index", new { sortOrder = ViewBag.AppidSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Error
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @switch (item.ERRORTYPE)
                {
                    case "OK":
                        <td style="color:green;font-weight:bold">@Html.DisplayFor(modelItem => item.ERRORTYPE)</td>
                        break;
                    default:
                        <td style="color:red;font-weight:bold">@Html.DisplayFor(modelItem => item.ERRORTYPE)</td>
                        break;

                }

                <td>
                    @Html.DisplayFor(modelItem => item.MESSAGEID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SENDER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RECEIVER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUBJECT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SENDDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APPID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ERRORMESSAGE)
                </td>

                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.LOGID })
                    @if (User.IsInRole("Admin") || User.IsInRole("CanEdit"))
                    {
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.LOGID })
                    }
                </td>
            </tr>
        }
        <br />
    </table>

    Página @(pagedlist.PageCount < pagedlist.PageNumber ? 0 : pagedlist.PageNumber) de @pagedlist.PageCount

    @Html.PagedListPager(pagedlist, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</body>
</html>
