﻿@model AmazonMail.Models.EditUserViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Messages";
}

<h2>Baja de usuario</h2>

<h3>Esta seguro de que quiere dar de baja este usuario?</h3>
<div>
    <h4>EditUserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre de usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayName("ID de la aplicación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
