﻿@model IEnumerable<AmazonMail.Models.MESSAGELOG>

@{
    ViewBag.Title = "MessageLog";
}

<h2>MessageLog</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MESSAGEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RECEIVER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SENDDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ERRORMESSAGE)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MESSAGEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RECEIVER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SENDDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APPID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ERRORMESSAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LOGID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LOGID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LOGID })
        </td>
    </tr>
}

</table>
