﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Amazon Mail</title>
    @Styles.Render("~/Content/css")   
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">                
                Amazon Mail Service Manager          
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Registro de mensajes", "Index", "MessageLog")</li>
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Lista negra", "Search", "BlackList")</li>
                            <li>@Html.ActionLink("Gestión de usuarios", "Index", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Lista negra", "Search", "BlackList")</li>

                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Amazon Mail Service Manager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
